[submodule "Assets/MIXER"]
	path = Assets/MIXER
	url = git@github.com:communication-planning/MIXER.git
[submodule "Assets/NGUI"]
	path = Assets/NGUI
	url = git@github.com:TomoyaUrata/NGUI.git
[submodule "Assets/Plugins"]
	path = Assets/Plugins
	url = git@github.com:TomoyaUrata/Plugins.git
[submodule "Assets/Sentinel"]
	path = Assets/Sentinel
	url = git@github.com:TomoyaUrata/Sentinel.git
